src/main/resources/wsdl/daysis.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="serilist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="kullanici" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sifre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="serilistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serilistResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="evraktipleri">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="kullanici" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sifre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="evraktipleriResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="evraktipleriResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="evraktipalanlari">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tipadi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="kullanici" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sifre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="evraktipalanlariResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="evraktipalanlariResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dosyaarabul">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="kullanici" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sifre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dosyaarabulResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dosyaarabulResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="evrakarabul">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="kullanici" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sifre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="evrakarabulResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="evrakarabulResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="evrakindir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="evrakid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="kullanici" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sifre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pdfver" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="evrakindirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="evrakindirResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="indexyap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="kullanici" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sifre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="indexyapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="indexyapResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="serilistSoapIn">
    <wsdl:part name="parameters" element="tns:serilist" />
  </wsdl:message>
  <wsdl:message name="serilistSoapOut">
    <wsdl:part name="parameters" element="tns:serilistResponse" />
  </wsdl:message>
  <wsdl:message name="evraktipleriSoapIn">
    <wsdl:part name="parameters" element="tns:evraktipleri" />
  </wsdl:message>
  <wsdl:message name="evraktipleriSoapOut">
    <wsdl:part name="parameters" element="tns:evraktipleriResponse" />
  </wsdl:message>
  <wsdl:message name="evraktipalanlariSoapIn">
    <wsdl:part name="parameters" element="tns:evraktipalanlari" />
  </wsdl:message>
  <wsdl:message name="evraktipalanlariSoapOut">
    <wsdl:part name="parameters" element="tns:evraktipalanlariResponse" />
  </wsdl:message>
  <wsdl:message name="dosyaarabulSoapIn">
    <wsdl:part name="parameters" element="tns:dosyaarabul" />
  </wsdl:message>
  <wsdl:message name="dosyaarabulSoapOut">
    <wsdl:part name="parameters" element="tns:dosyaarabulResponse" />
  </wsdl:message>
  <wsdl:message name="evrakarabulSoapIn">
    <wsdl:part name="parameters" element="tns:evrakarabul" />
  </wsdl:message>
  <wsdl:message name="evrakarabulSoapOut">
    <wsdl:part name="parameters" element="tns:evrakarabulResponse" />
  </wsdl:message>
  <wsdl:message name="evrakindirSoapIn">
    <wsdl:part name="parameters" element="tns:evrakindir" />
  </wsdl:message>
  <wsdl:message name="evrakindirSoapOut">
    <wsdl:part name="parameters" element="tns:evrakindirResponse" />
  </wsdl:message>
  <wsdl:message name="indexyapSoapIn">
    <wsdl:part name="parameters" element="tns:indexyap" />
  </wsdl:message>
  <wsdl:message name="indexyapSoapOut">
    <wsdl:part name="parameters" element="tns:indexyapResponse" />
  </wsdl:message>
  <wsdl:portType name="daysisServiceSoap">
    <wsdl:operation name="serilist">
      <wsdl:input message="tns:serilistSoapIn" />
      <wsdl:output message="tns:serilistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="evraktipleri">
      <wsdl:input message="tns:evraktipleriSoapIn" />
      <wsdl:output message="tns:evraktipleriSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="evraktipalanlari">
      <wsdl:input message="tns:evraktipalanlariSoapIn" />
      <wsdl:output message="tns:evraktipalanlariSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="dosyaarabul">
      <wsdl:input message="tns:dosyaarabulSoapIn" />
      <wsdl:output message="tns:dosyaarabulSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="evrakarabul">
      <wsdl:input message="tns:evrakarabulSoapIn" />
      <wsdl:output message="tns:evrakarabulSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="evrakindir">
      <wsdl:input message="tns:evrakindirSoapIn" />
      <wsdl:output message="tns:evrakindirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="indexyap">
      <wsdl:input message="tns:indexyapSoapIn" />
      <wsdl:output message="tns:indexyapSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="daysisServiceSoap" type="tns:daysisServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="serilist">
      <soap:operation soapAction="http://tempuri.org/serilist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="evraktipleri">
      <soap:operation soapAction="http://tempuri.org/evraktipleri" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="evraktipalanlari">
      <soap:operation soapAction="http://tempuri.org/evraktipalanlari" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dosyaarabul">
      <soap:operation soapAction="http://tempuri.org/dosyaarabul" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="evrakarabul">
      <soap:operation soapAction="http://tempuri.org/evrakarabul" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="evrakindir">
      <soap:operation soapAction="http://tempuri.org/evrakindir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="indexyap">
      <soap:operation soapAction="http://tempuri.org/indexyap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="daysisServiceSoap12" type="tns:daysisServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="serilist">
      <soap12:operation soapAction="http://tempuri.org/serilist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="evraktipleri">
      <soap12:operation soapAction="http://tempuri.org/evraktipleri" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="evraktipalanlari">
      <soap12:operation soapAction="http://tempuri.org/evraktipalanlari" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dosyaarabul">
      <soap12:operation soapAction="http://tempuri.org/dosyaarabul" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="evrakarabul">
      <soap12:operation soapAction="http://tempuri.org/evrakarabul" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="evrakindir">
      <soap12:operation soapAction="http://tempuri.org/evrakindir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="indexyap">
      <soap12:operation soapAction="http://tempuri.org/indexyap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="daysisService">
    <wsdl:port name="daysisServiceSoap" binding="tns:daysisServiceSoap">
      <soap:address location="http://ayt.foreks.com/daysisservice.asmx" />
    </wsdl:port>
    <wsdl:port name="daysisServiceSoap12" binding="tns:daysisServiceSoap12">
      <soap12:address location="http://ayt.foreks.com/daysisservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
